<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    
    <style>
		
	</style>
  </head>
  <body background="images/background.jpg">
  <div class="page-header">
  <h3>Welcome <%=name%> [<%=custDetails[0].type%>]</h3>
</div>
  <div id="photo">
   <center><h4> <span class="label label-info">Your last login time was: <%=custDetails[0].logintime%></span></h4> </center>
  <nav class="navbar navbar-default" role="navigation">
				
			<ul class="nav nav-pills">
				<li class="active"><a href="/home">Home</a></li>
				<li><a href="/personalprofile">Profile</a></li>
				<li><a href="/MovieSearch1">Movie Search</a></li>	
				<li><a href="/AllMovieController">List All Movies</a></li>
				<li><a href="/rentsearch">Rent a Movie</a></li>
				<li><a href="/returnmovie">Return a Movie</a></li>
				<li><a href="/signout">Signout</a></li>
			</ul>
</nav>
  </div>
  </body>
</html>